<div x-data="{ ttab: 'aa' }">
    <div class="hidden md:flex justify-between">
        <div :class="{ 'text-opacity-100': ttab === 'aa' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text:8xl font-medium lg:font-bold tracking-wider text-opacity-30" @click="ttab = 'aa'">道具賽</div>
        <div :class="{ 'text-opacity-100': ttab === 'bb' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text:8xl font-medium lg:font-bold tracking-wider text-opacity-30" @click="ttab = 'bb'">寵物</div>
        <div :class="{ 'text-opacity-100': ttab === 'cc' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text:8xl font-medium lg:font-bold tracking-wider text-opacity-30" @click="ttab = 'cc'">接力賽</div>
        <div :class="{ 'text-opacity-100': ttab === 'dd' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text:8xl font-medium lg:font-bold tracking-wider text-opacity-30" @click="ttab = 'dd'">無限加速</div>
    </div>
    <div class="flex justify-between md:hidden">
        <div>
            <div :class="{ 'text-opacity-100': ttab === 'aa' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl font-medium tracking-wider text-opacity-30" @click="ttab = 'aa'">道具賽</div>
            <div :class="{ 'text-opacity-100': ttab === 'cc' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl font-medium tracking-wider text-opacity-30" @click="ttab = 'cc'">接力賽</div>
        </div>
        <div class="align-bottom">
            <div :class="{ 'text-opacity-100': ttab === 'bb' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl font-medium tracking-wider text-opacity-30 align-text-bottom" @click="ttab = 'bb'">寵物</div>
            <div :class="{ 'text-opacity-100': ttab === 'dd' }" class="cursor-pointer hover:text-white text-main-light-blue-grey text-3xl font-medium tracking-wider text-opacity-30" @click="ttab = 'dd'">無限加速</div>
        </div>
    </div>
    <div class="">
        <div x-show="ttab === 'aa'">
            <%- include('casualitem/toolintro') %>
            <%- include('casualitem/toolitem') %>
        </div>
        <div x-show="ttab === 'bb'">
            <%- include('casualitem/petintro') %>
            
        </div>
        <div x-show="ttab === 'cc'">
            <%- include('casualitem/relayintro') %>
            <%- include('casualitem/relayitem') %>
        </div>
        <div x-show="ttab === 'dd'">
            <%- include('casualitem/fastintro') %>
            <%- include('casualitem/fastitem') %>
        </div>
    </div>
</div>