<div x-data="{ open: false, tab: 'aa', text: '遊戲模式' }">
    <div class="hidden xl:flex justify-between text-5xl pb-12">
        <div :class="{ 'bg-opacity-100': tab === 'aa' }" class="wow animate__flipInX bg-opacity-30 text-3xl sm:p-1 md:p-1 md:rounded-lg lg:text-4xl lg:rounded-lg xl:text-5xl xl:rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue hover:bg-white p-2" @click="tab = 'aa'">休閒模式</div>
        <div :class="{ 'bg-opacity-100': tab === 'bb' }" class="wow animate__flipInX bg-opacity-30 text-3xl sm:p-1 md:p-1 md:rounded-lg lg:text-4xl lg:rounded-lg xl:text-5xl xl:rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue hover:bg-white p-2" @click="tab = 'bb'">競速模式</div>
        <div :class="{ 'bg-opacity-100': tab === 'cc' }" class="wow animate__flipInX bg-opacity-30 text-3xl sm:p-1 md:p-1 md:rounded-lg lg:text-4xl lg:rounded-lg xl:text-5xl xl:rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue hover:bg-white p-2" @click="tab = 'cc'">排位賽</div>
        <div :class="{ 'bg-opacity-100': tab === 'dd' }" class="wow animate__flipInX bg-opacity-30 text-3xl sm:p-1 md:p-1 md:rounded-lg lg:text-4xl lg:rounded-lg xl:text-5xl xl:rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue hover:bg-white p-2" @click="tab = 'dd'">故事模式</div>
        <div :class="{ 'bg-opacity-100': tab === 'ff' }" class="wow animate__flipInX bg-opacity-30 text-3xl sm:p-1 md:p-1 md:rounded-lg lg:text-4xl lg:rounded-lg xl:text-5xl xl:rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue hover:bg-white p-2" @click="tab = 'ff'">計時賽</div>
    </div>
    <div class="xl:hidden pb-12">
        <div class="bg-opacity-30 text-3xl rounded-lg lg:text-4xl lg:rounded-lg xl:text-5xl xl:rounded-lg font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue hover:bg-white p-4" @click="open = true" x-text="text"></div>
    
        <ul x-show="open" @click.away="open = false">
            <li>
                <p class="bg-opacity-30 mx-auto rounded-t-lg text-3xl lg:text-4xl font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue p-4 flex justify-center hover:bg-white" @click="tab = 'aa'; text = '休閒模式'; open = false">休閒模式</p>
            </li>
            <li>
                <p class="bg-opacity-30 mx-auto text-3xl lg:text-4xl font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue p-4 flex justify-center hover:bg-white" @click="tab = 'bb'; text = '競速模式'; open = false">競速模式</p>
            </li>
            <li>
                <p class="bg-opacity-30 mx-auto text-3xl lg:text-4xl font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue p-4 flex justify-center hover:bg-white" @click="tab = 'cc'; text = '排位賽'; open = false">排位賽</p>
            </li>
            <li>
                <p class="bg-opacity-30 mx-auto text-3xl lg:text-4xl font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue p-4 flex justify-center hover:bg-white" @click="tab = 'dd'; text = '故事模式'; open = false">故事模式</p>
            </li>
            <li>
                <p class="bg-opacity-30 mx-auto rounded-b-lg text-3xl lg:text-4xl font-medium lg:font-bold tracking-wider cursor-pointer bg-main-light-blue-grey text-main-black-blue p-4 flex justify-center hover:bg-white" @click="tab = 'ff'; text = '計時賽'; open = false">計時賽</p>
            </li>
        </ul>
    </div>
    <div>
        <div x-show="tab === 'aa'"><%- include('casual') %></div>
        <div x-show="tab === 'bb'"><%- include('speed') %></div>
        <div x-show="tab === 'cc'"><%- include('rank') %></div>
        <div x-show="tab === 'dd'"><%- include('story') %></div>
        <div x-show="tab === 'ff'"><%- include('time') %></div>
    </div>
</div>