<div class="relative bg-no-repeat bg-cover bg-center h-screen" style="background-image: url(images/bg_main_v2.jpg);">
  <div class="absolute bottom-40 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <img class="w-full h-auto" src="images/logo_kartrush.png" alt="">
  </div>
</div>

<%- include('intro/desktop') %> 
<%- include('intro/mobile') %> 
<%- include('slides') %> 
<%- include('video') %> 
<%- include('banner') %> 
<%- include('footer') %> 


