<div class="w-full overflow-hidden">
  <%- include('header') %> 
  <%- include('intro/desktop') %> 
  <%- include('intro/mobile') %> 
  <%- include('slides') %> 
  <%- include('video') %> 
  <%- include('banner') %> 
  <%- include('footer') %> 
</div>


