<% data.characterTypes.forEach((type, i) => { %>
    <div x-show="selected === <%= i %>">
        <% type.characters.forEach((character) => { %> 
            <div class="relative mb-40">
                <div class="text-white font-light pt-16">
                    <div class="bg-main-light-blue-grey pr-36 pb-8">
                        <div class="flex justify-start items-end pl-20 pr-8 py-5">
                            <p class="text-5xl text-main-role-name font-normal pr-8"><%= character.name %></p>
                            <div class="bg-main-role-rare-blue py-1 px-3">
                                <p class="flex items-start">稀有</p>
                            </div>
                        </div>
                        <div class="flex justify-start bg-main-role-gray pr-28">
                            <div class="text-2xl pl-20 py-3">
                                <p class="py-1"><%= character.birth %></p>
                                <p class="py-1 pb-10"><%= character.temp %></p>
                                <p class="py-1"><%= character.intro %></p>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-start pl-20 py-3">
                        <p class="pr-3 pt-2 ">◆ </p>
                        <p class="text-2xl py-1"><%= character.bonus %></p>
                    </div>
                </div>
                <div class="absolute top-0 -right-16 w-5/12">
                    <img src="images/<%= character.Img %>" alt="">
                </div>
            </div>
            <div class="relative mb-40">
                <div class="text-white font-light pt-16">
                    <div class="bg-main-light-blue-grey pl-36 pb-8">
                        <div class="flex justify-start items-end pl-44 pr-8 py-5">
                            <p class="text-5xl text-main-role-name font-normal pr-5">痞子妹♀</p>
                            <div class="bg-main-role-rare-blue py-1 px-3">
                                <p class="flex items-start">稀有</p>
                            </div>
                        </div>
                        <div class="flex justify-start bg-main-role-gray pr-20">
                            <div class="text-2xl pl-44 py-3">
                                <p class="py-1">生日：10月16日</p>
                                <p class="py-1 pb-10">性格：害羞</p>
                                <p class="py-1">溫柔羞澀的美少女車手，一旦駕駛賽車就會展現果敢的一面。</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-start pl-80 py-3">
                        <p class="pr-3 pt-2">◆ </p>
                        <p class="text-2xl py-1"> 對局經驗+15%，金幣+15%</p>
                    </div>
                </div>
                <div class="absolute top-0 -left-16 w-5/12">
                    <img src="images/mei.png" alt="">
                </div>
            </div>
        <% }) %> 
    </div>
<% }) %> 



<div class="relative mb-40">
    <div class="text-white font-light pt-16">
        <div class="bg-main-light-blue-grey pr-36 pb-8">
            <div class="flex justify-start items-end pl-20 pr-8 py-5">
                <p class="text-5xl text-main-role-name font-normal pr-8">藍寶♂</p>
                <div class="bg-main-role-rare-blue py-1 px-3">
                    <p class="flex items-start">稀有</p>
                </div>
            </div>
            <div class="flex justify-start bg-main-role-gray pr-28">
                <div class="text-2xl pl-20 py-3">
                    <p class="py-1">生日：12月14日</p>
                    <p class="py-1 pb-10">性格：熱血</p>
                    <p class="py-1">充滿激情和正義的熱血車手，為人樂觀、陽光。</p>
                </div>
            </div>
        </div>
        <div class="flex justify-start pl-20 py-3">
            <p class="pr-3 pt-2 ">◆ </p>
            <p class="text-2xl py-1"> 對局經驗+15%，金幣+15%</p>
        </div>
    </div>
    <div class="absolute top-0 -right-16 w-5/12">
        <img src="images/blue.png" alt="">
    </div>
</div>
<div class="relative mb-40">
    <div class="text-white font-light pt-16">
        <div class="bg-main-light-blue-grey pl-36 pb-8">
            <div class="flex justify-start items-end pl-44 pr-8 py-5">
                <p class="text-5xl text-main-role-name font-normal pr-5">痞子妹♀</p>
                <div class="bg-main-role-rare-blue py-1 px-3">
                    <p class="flex items-start">稀有</p>
                </div>
            </div>
            <div class="flex justify-start bg-main-role-gray pr-20">
                <div class="text-2xl pl-44 py-3">
                    <p class="py-1">生日：10月16日</p>
                    <p class="py-1 pb-10">性格：害羞</p>
                    <p class="py-1">溫柔羞澀的美少女車手，一旦駕駛賽車就會展現果敢的一面。</p>
                </div>
            </div>
        </div>
        <div class="flex justify-start pl-80 py-3">
            <p class="pr-3 pt-2">◆ </p>
            <p class="text-2xl py-1"> 對局經驗+15%，金幣+15%</p>
        </div>
    </div>
    <div class="absolute top-0 -left-16 w-5/12">
        <img src="images/mei.png" alt="">
    </div>
</div>
