<div class="mx-auto w-10/12">  
    <div class="flex mt-6">
        <div class="w-1/2">
        </div>
        <div class="flex w-1/2">
            <% data.licenceTypes.forEach((type) =>{%>
                <div class="sm:w-1/6 w-1/4 lg:text-3xl md:text-2xl text-xl text-white cursor-pointer hover:text-main-levelTitle-dark"><a href="level.html/#<%= type.typeId %>"><%= type.typeName %></a></div>
                <% }) %> 
        </div>
    </div>

    <% data.licenceTypes.forEach((type, i) => { %>
        <div id="<%= type.typeId %>">
            <div class="mt-14">
                <div class="mb-7 relative left-2 lg:text-5xl sm:text-4xl text-3xl text-white underline"><%= type.typename %></div>
            </div>
            <div class="flex flex-wrap justify-center">
                    <div class="flex w-11/12 relative xl:py-10 lg:py-14 md:py-8 sm:py-5 py-2 mb-6 xl:h-72 lg:h-60 md:h-40 sm:h-32 h-16">
                        <div class="lg:w-1/4 w-1/5"></div>
                        <div class="relative lg:w-3/4 w-4/5 sm:rounded-3xl rounded-xl bg-main-faded-blue py-6">
                            <div class="flex flex-wrap lg:w-2/3 md:w-3/5 absolute right-0">
                                <% type.mission.forEach((mission, i) => { %>
                                    <div class="flex w-1/2 xl:my-2 lg:my-1">
                                        <div class="rounded-full h-3 w-3 my-auto mx-2 bg-white">
                                        </div>
                                        <div class="text-white lg:text-3xl md:text-2xl text-xl"><a href="level.html/#<%= mission.id %>"><%= mission.title %></a></div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="absolute left-0 top-0 w-1/2">
                            <img class="xl:h-80 lg::h-72 w-full" src="images/<%= type.typeImg %> " alt="">
                        </div>
                    </div>
                    <% type.mission.forEach((mission, i) => { %>
                        <% if(i % 2 == 0){ %>
                            <div id="<%= mission.id %>" class="w-10/12 mx-auto relative py-12 pr-96 mb-8">
                                <div class="bg-main-light-blue-grey h-48 flex items-center">
                                    <div >
                                        <div class="flex">
                                            <img class="h-14 w-14 my-auto mx-2" src="images/<%= mission.star %> " alt="">
                                            <div class="text-main-levelText text-3xl font-light my-auto"><%= mission.text1 %></div>
                                        </div>
                                        <% if(mission.text2 != "None"){ %>
                                            <div class="flex">
                                                <img class="h-14 w-14 my-auto mx-2" src="images/<%= mission.star %> " alt="">
                                                <div class="text-main-levelText text-3xl font-light my-auto"><%= mission.text2 %></div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="absolute top-2 left-0 w-1/2 h-14">
                                    <div class="bg-main-missionTitle h-16 w-80 transform -rotate-3 mx-auto flex items-center" style ="box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.479)">
                                        <p class="text-main-levelText text-3xl font-medium mx-auto"><%= mission.title%> </p>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 w-1/2">
                                    <img class="h-72" src="images/<%= mission.map %> " alt="">
                                </div>
                            </div>
                        <% } else{ %>  
                            <div id="<%= mission.id %>" class="w-10/12 mx-auto relative py-12 pl-96 mb-8">
                                <div class="bg-main-light-blue-grey h-48 flex items-center">
                                    <div class="ml-12">
                                        <div class="flex">
                                            <img class="h-14 w-14 my-auto mx-2" src="images/<%= mission.star %> " alt="">
                                            <div class="text-main-levelText text-3xl font-light my-auto"><%= mission.text1 %></div>
                                        </div>
                                        <% if(mission.text2 != "None"){ %>
                                            <div class="flex">
                                                <img class="h-14 w-14 my-auto mx-2" src="images/<%= mission.star %> " alt="">
                                                <div class="text-main-levelText text-3xl font-light my-auto"><%= mission.text2 %></div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="absolute top-2 right-0 w-1/2 h-14">
                                    <div class="bg-main-missionTitle h-16 w-80 transform -rotate-3 mx-auto flex items-center" style ="box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.479)">
                                        <p class="text-main-levelText text-3xl font-medium mx-auto"><%= mission.title%> </p>
                                    </div>
                                </div>
                                <div class="absolute top-0 left-0 w-1/2 ">
                                    <img class="h-72" src="images/<%= mission.map %> " alt="">
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
            </div>
        </div>
    <% }) %>
</div>
